.loading{
		background: url("img/ajax-loader.gif") no-repeat transparent scroll center center;
		height: 16px;
		width:16px;
		display:inline-block;
		vertical-align:middle;
}
.content{
		text-align:justify;
}
h1, h3{
		color:#32a5dd;
}
body{
		background:url("img/bg.jpg");
}